In [91]:
import pandas as pd
import json
import requests
from pprint import pprint
import datetime

In [92]:
#specify url
url = "https://data.cityofchicago.org/resource/4ijn-s7e5.json"

#retrieve json data and convert to pandas dataframe
res = requests.get(url).json()
#print("request returned")

df = pd.DataFrame.from_records(res)
df.head()

,inspection_id,dba_name,aka_name,license_,facility_type,risk,address,city,state,zip,...,results,violations,latitude,longitude,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu
0,2571178,HELMAND,HELMAND,2886891,Restaurant,Risk 1 (High),4659-4661 N KEDZIE AVE,CHICAGO,IL,60625,...,Fail,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.966237998888566,-87.7082589905138,"{'latitude': '41.966237998888566', 'longitude'...",2,21849,14,258,20
1,2571181,BISTRO MANADNOCK,BISTRO MANADNOCK,2882504,Restaurant,Risk 3 (Low),53 W JACKSON BLVD,CHICAGO,IL,60604,...,Pass,NaN,41.878050680824906,-87.62978100842273,"{'latitude': '41.878050680824906', 'longitude'...",48,14912,38,92,10
2,2571168,CARDINAL WAREHOUSE WINES & SPIRITS,CARDINAL WAREHOUSE LIQUORS,2891216,Grocery Store,Risk 3 (Low),3501 N CENTRAL AVE,CHICAGO,IL,60634,...,Pass,NaN,41.94409930695949,-87.76654804609672,"{'latitude': '41.94409930695949', 'longitude':...",25,22254,15,361,44
3,2571180,Hawthorne Elementary,Hawthorne Elementary,29131,School,Risk 1 (High),3319 N Clifton AVE,CHICAGO,IL,60657,...,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.94228994273178,-87.65767253107309,"{'latitude': '41.94228994273178', 'longitude':...",38,4449,57,710,25
4,2571214,John Murphy Elementary,John Murphy Elementary,24621,School,Risk 1 (High),3539 W Grace,CHICAGO,IL,60618,...,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.950050341973395,-87.7168294858019,"{'latitude': '41.950050341973395', 'longitude'...",15,21538,16,325,12

In [110]:
#drop "aka_name" because it seems confusing or unneccessary . we can talk about it as a group later
filtered_df =df.drop(columns = ["aka_name"])
filtered_df.head()

,inspection_id,dba_name,license_,facility_type,risk,address,city,state,zip,inspection_date,...,results,violations,latitude,longitude,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu
0,2571178,HELMAND,2886891,Restaurant,Risk 1 (High),4659-4661 N KEDZIE AVE,CHICAGO,IL,60625,2023-02-14T00:00:00.000,...,Fail,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.966237998888566,-87.7082589905138,"{'latitude': '41.966237998888566', 'longitude'...",2,21849,14,258,20
1,2571181,BISTRO MANADNOCK,2882504,Restaurant,Risk 3 (Low),53 W JACKSON BLVD,CHICAGO,IL,60604,2023-02-14T00:00:00.000,...,Pass,NaN,41.878050680824906,-87.62978100842273,"{'latitude': '41.878050680824906', 'longitude'...",48,14912,38,92,10
2,2571168,CARDINAL WAREHOUSE WINES & SPIRITS,2891216,Grocery Store,Risk 3 (Low),3501 N CENTRAL AVE,CHICAGO,IL,60634,2023-02-14T00:00:00.000,...,Pass,NaN,41.94409930695949,-87.76654804609672,"{'latitude': '41.94409930695949', 'longitude':...",25,22254,15,361,44
3,2571180,Hawthorne Elementary,29131,School,Risk 1 (High),3319 N Clifton AVE,CHICAGO,IL,60657,2023-02-14T00:00:00.000,...,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.94228994273178,-87.65767253107309,"{'latitude': '41.94228994273178', 'longitude':...",38,4449,57,710,25
4,2571214,John Murphy Elementary,24621,School,Risk 1 (High),3539 W Grace,CHICAGO,IL,60618,2023-02-14T00:00:00.000,...,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.950050341973395,-87.7168294858019,"{'latitude': '41.950050341973395', 'longitude'...",15,21538,16,325,12

In [114]:
filtered_df.dtypes

inspection_id                          object
dba_name                               object
license_                               object
facility_type                          object
risk                                   object
address                                object
city                                   object
state                                  object
zip                                    object
inspection_date                datetime64[ns]
inspection_type                        object
results                                object
violations                             object
latitude                               object
longitude                              object
location                               object
:@computed_region_awaf_s7ux            object
:@computed_region_6mkv_f3dw            object
:@computed_region_vrxf_vc4k            object
:@computed_region_bdys_3d7i            object
:@computed_region_43wa_7qmu            object
dtype: object

In [117]:
#filtered_df = filtered_df.astype({'latitude' : 'float', 'longitude': 'float'})
#filtered_df.dtypes
filtered_df["inspection_date"] = pd.to_datetime(filtered_df["inspection_date"])

In [120]:
filtered_df.dtypes

filtered_df.head()

,inspection_id,dba_name,license_,facility_type,risk,address,city,state,zip,inspection_date,...,results,violations,latitude,longitude,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu
0,2571178,HELMAND,2886891,Restaurant,Risk 1 (High),4659-4661 N KEDZIE AVE,CHICAGO,IL,60625,2023-02-14,...,Fail,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.966237998888566,-87.7082589905138,"{'latitude': '41.966237998888566', 'longitude'...",2,21849,14,258,20
1,2571181,BISTRO MANADNOCK,2882504,Restaurant,Risk 3 (Low),53 W JACKSON BLVD,CHICAGO,IL,60604,2023-02-14,...,Pass,NaN,41.878050680824906,-87.62978100842273,"{'latitude': '41.878050680824906', 'longitude'...",48,14912,38,92,10
2,2571168,CARDINAL WAREHOUSE WINES & SPIRITS,2891216,Grocery Store,Risk 3 (Low),3501 N CENTRAL AVE,CHICAGO,IL,60634,2023-02-14,...,Pass,NaN,41.94409930695949,-87.76654804609672,"{'latitude': '41.94409930695949', 'longitude':...",25,22254,15,361,44
3,2571180,Hawthorne Elementary,29131,School,Risk 1 (High),3319 N Clifton AVE,CHICAGO,IL,60657,2023-02-14,...,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.94228994273178,-87.65767253107309,"{'latitude': '41.94228994273178', 'longitude':...",38,4449,57,710,25
4,2571214,John Murphy Elementary,24621,School,Risk 1 (High),3539 W Grace,CHICAGO,IL,60618,2023-02-14,...,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.950050341973395,-87.7168294858019,"{'latitude': '41.950050341973395', 'longitude'...",15,21538,16,325,12